* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aldrich", sans-serif;
}

.container {
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 8rem 4rem;
  gap: 10em;
}
